nav {
    height: 5em;
}

.nav-brand {
    font-size: 2em;
}

.main-div {
    margin: 2em auto;
}

#webcam-title {
    margin-bottom: 0.9em;
}

#video {
    margin: auto;
}

#recorder {
    margin: 2em auto;
}

#recorder > button {
    margin-right: 1em;
}

input.speak {
    margin: 1em 0;
}

#tts {
    font-size: 1.5em;
}